name: Run Lint
on: [workflow_call, push, pull_request, workflow_dispatch]

jobs:
  lint:
    uses: ./.github/workflows/setup-gradle.yml
    with:
      gradle-task: lintKotlinMain lintKotlinTest

  detekt:
    uses: ./.github/workflows/setup-gradle.yml
    with:
      gradle-task: detekt
